@font-face {
  font-family: 'icons';
  src: url('/static/fonts/font-icon.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-number-input:before {
  content: "\e91d";
}
.icon-caret-down:before {
  content: "\e91e";
}
.icon-caret-up:before {
  content: "\e91f";
}
.icon-material-design:before {
  content: "\e920";
}
.icon-grid:before {
  content: "\e91a";
}
.icon-color-picker:before {
  content: "\e921";
}
.icon-square:before {
  content: "\e91b";
}
.icon-users:before {
  content: "\e91c";
}
.icon-avatar:before {
  content: "\e912";
}
.icon-checkbox:before {
  content: "\e914";
}
.icon-popup:before {
  content: "\e916";
}
.icon-radio-button:before {
  content: "\e917";
}
.icon-text-block:before {
  content: "\e918";
}
.icon-text-box:before {
  content: "\e919";
}
.icon-button:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e913";
}
.icon-bookmark:before {
  content: "\e911";
}
.icon-moon:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e90e";
}
.icon-image:before {
  content: "\e907";
}
.icon-sort-numeric-down:before {
  content: "\e900";
}
.icon-sort-numeric-up:before {
  content: "\e901";
}
.icon-sort-alpha-up:before {
  content: "\e902";
}
.icon-sort-alpha-down:before {
  content: "\e903";
}
.icon-sort-alt:before {
  content: "\e904";
}
.icon-spinner:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-json-file:before {
  content: "\e90b";
}
.icon-excel-file:before {
  content: "\e90c";
  color: #217346;
}
.icon-check:before {
  content: "\e910";
}
.icon-file-pdf:before {
  content: "\e90f";
}
.icon-paint-brush:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e906";
}
